p{
    font-size: large;
    text-decoration: underline;
}

ul{
    list-style: none;
}

button{
    margin-top: 0.5em;
    float: right;
}

mat-card{
    margin-bottom: 1em;
}   

div{
    clear: both;
}